<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933047540242-rgr5ff9e8vb4loaieaverp0bl797dto7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933047540242-rgr5ff9e8vb4loaieaverp0bl797dto7</string>
	<key>API_KEY</key>
	<string>AIzaSyAwlXf39yRjmfDlOiovnOEI1_8jXxG5a9I</string>
	<key>GCM_SENDER_ID</key>
	<string>933047540242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.payment</string>
	<key>PROJECT_ID</key>
	<string>payment-6443a</string>
	<key>STORAGE_BUCKET</key>
	<string>payment-6443a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933047540242:ios:42ba2a2427158db03a56cb</string>
</dict>
</plist>